<div class="container mt-5">
  <div class="row">

    <div class="col-2 ">
    <a id="boton" class="btn btn-warning btn-sm" routerLink="/addcineYser" role="button">Añadir Cine y Series</a>
    </div>



    <div class="col-2 ">
      <a id="boton" class="btn btn-warning btn-sm" routerLink="/addvideo" role="button">Añadir Videojuegos</a>
    </div>



    <div class="col-2 ">
     <a id="boton" class="btn btn-warning btn-sm" routerLink="/addcomic" role="button">Añadir Comic</a>
    </div>



    <div class="col-2 ">
     <a id="boton" class="btn btn-warning btn-sm" routerLink="/addinformatica" role="button">Añadir Informatica</a>
    </div>



    <div class="col-2 ">
     <a id="boton" class="btn btn-warning btn-sm" routerLink="/addopinion" role="button">Añadir Opinion</a>
    </div>
  </div>
</div>
