<div class="jumbotron animated fadeIn fast" style="background-color: black">
    <h1 id="Jumbo" class="display-4"><Strong>Noticias de Cine y Series</Strong></h1>
    <p class="lead">Quieres estar al tanto de todo lo que se cuece de las series y peliculas mas frikis de la galaxia? Pues estas en el sitio idoneo</p>
    <hr class="my-4">
    <p>Si quieres saber que opinamos sobre el talento actoral de algunos, y los guiones suicidas y ridiculos, ya sabes, arriva pone opiniones en una pestaña</p>
    <a class="btn btn-warning btn-lg" routerLink="/addcineYser" role="button"
    *ngIf="isAuth()">Añadir articulo</a>
  </div>

  <!-- <div class="container">
    <div class="card-columns animated fadeIn fast">
      <div *ngFor="let articulo of articulos; let i = index" class="card text-white bg-dark  " style="width: 20rem; max-height: 20rem;">
        <div class="card-body">
          <h5 class="card-title">{{articulo.titulo}}</h5>
          <p class="card-text">{{articulo.descripcion}}</p>
        </div>
        <a [routerLink]= "['/artcinyser',articulo.id$]" class="btn btn-warning container  " >Leer Mas</a>
      </div>
    </div>
    </div> -->


    <div class="container">
        <div class="card-columns">
        <div *ngFor="let articulo of articulos" class="card animated fadeIn fast" id="card">
          <img id="img" class="card-img-top" [src]="articulo.img" alt="{{articulo.alt}}" style="height: 200px; width: 332px;">
          <div class="card-body">
            <a [routerLink]= "['/artcinyser',articulo.id$]">
              <h5 class="card-title">{{articulo.titulo}}</h5>
            </a>
            <p class="card-text">{{articulo.descripcion}}</p>
            <p class="card-text">{{articulo.autor}}</p>
            <p class="card-text"><small class="text-muted">{{articulo.fecha}}</small></p>
          </div>
        </div>
        </div>
        </div>
